
.loc{
    margin-top: 250px;
    margin-left: 550px;
    margin-bottom: 250px;
}


table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    
}

th{
    background-color: #FFD747;
}

td {
    background-color: #96D4D4;
}

.hehder{
    background-color: '#FFD747';
}