*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content{
    display: flex;
    
    align-items: center;
    flex-direction: column;
  
    height: 640px;
    width: 100wh;
    margin-bottom: 30px;
}
.box{
    margin-top: 25px;
    margin-bottom: 8px;
    height: 360px;
    width: 790px;
    border-radius: 10px;
    background-image: url("../images/computer-peripherals-laptop-accessories-composition-stone-counter-82724189.jpg");
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.box-2{
    margin-top: 25px;
    margin-bottom: 8px;
    height: 360px;
    width: 790px;
    border-radius: 10px;
    background-image: url("../images/shutterstock_794573677.jpg");
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.box-3{
    margin-top: 25px;
    margin-bottom: 8px;
    height: 360px;
    width: 790px;
    border-radius: 10px;
    background-image: url("../images/istockphoto-904268154-612x612.jpg");
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.txt{
    margin-top: 30px;
    margin-right: 550px;
    border-bottom: 3px solid;
    padding-right: 200px;
    color:black;
    font-weight: lighter;
    border-bottom-width: 1px;
    border-color:#D9D9D9;
}
.btn{
    width: 100px;
    height: 30px;
    background-color:white;
border-radius: 9px;
font-size: 15px;
cursor: pointer;
}
.btn:hover{
    background-color:rgb(217, 217, 217);
 
}
.txt-1{
    font-size: 60px;
    color:white;
}