.Gener{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgItem{
    width: 100%;
    height: 388px;
    background-color: #EEECEC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}




.itemPic{
    
    height: 388px;
}
.contact{
    width: 878px;
    height: 93px;
    border-radius: 7px;
    background-color: #e9e7e7;
    margin-top: 1%;
    text-align: justify;
    text-indent: 2%;
    display: flex;
    flex-direction: column;
}
.dt{
    margin-top: 3%;
    margin-left: -35.4%;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.descript{
    width: 878px;
    height: 147px;
    border-radius: 7px;
    background-color: #e9e7e7;
    margin-top: 1%;
    
    text-indent: 2%;
    
}
.conteu{
    color: #727171;
}
.line{
    width: 385px;
    height: 2px;

    margin-left: -29%;
    background-color: #d9d9d9;
}
#reivin{
    width: 376px;
    height: 76px;
    border-radius: 5px;
    background-color: #FFD747;
    color: white;
    margin-top: 1%;
    border-style: none;
    font-size: 36px;
    margin-bottom: 4%;
}
.arrown {
    
    margin-left: 0%;
    width: 70px;
    height: 70px;
}
.arrown1 {
    margin-top: 0%;
    margin-left:0%;
    width: 70px;
    height: 70px;
}
#reivin:hover{
    background-color: #b38b09 ;
}