.content-style{
    
}
.img-back{
    height: 50vh;
    width: 100%;
    background-color: aqua;
    background-repeat: no-repeat;

    

    left:20px;
}
.arrow{
    font-size: 10px;
}
.home-text{
font-size: 50px;
height: 150px;
width: 100%;
background-color:#C19C17;
align-items: center;
display: flex;
justify-content: center;
color: white;
}
.ima{

}
