.content-style{
    
}
.img-back{
    height: 50vh;
    width: 100%;
    background-color: rgb(42, 255, 4);
    background-repeat: no-repeat;
    background-size:cover;
   background-image: url("../images/fundo2.jpg");
    

    left:20px;
}

.arrow{
    font-size: 10px;
}
.home-text{
font-size: 50px;
height: 150px;
width: 100%;
background-color:#C19C17;
align-items: center;
display: flex;
justify-content: center;
color: white;
}
