.content-style{
    
}
.img-back{
    height: 50vh;
    width: 100%;
    background-color: aqua;
    background-repeat: no-repeat;
    
}
.home-text{
font-size: 50px;
height: 150px;
width: 100%;
background-color:#bba556;
align-items: center;
display: flex;
justify-content: center;
color: white;
}
.ima{

}