.cont-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -22%;
    margin-bottom: 2%;
}

.lixo {
    width: 50px;
    height: 50px;
    background-color: #ffd747;
    border-radius: 100px;
    margin-left: 1.4%;
}