.slide-style{
    display: flex;
    height: 300px;
   
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.arrow{
    margin-top: 80px;
    margin-left: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.box-style{
    height: 195px;
    width: 245px;
    margin-left: 40px;
    
    border-radius: 20px;
}
.box-content{
    justify-content: center;
    display: flex;
    height: 195px;
    width: 100%;

}